<div style="width:80%; margin: 0 auto; ">
  <h1>Registrar pago</h1>
  <h1><%= @member %></h1>

  <%= form_for (@member) do |f| %>
      <div class="fiel">

      </div>
      <div class="fiel">
        <%= %>
      </div>
      <div class="fiel">
        <%= %>
      </div>


      <div class="fiel">
        <%= f.submit "Registrar", class:"btn btn-default" %>
      </div>
  <% end %>
</div>