<nav>
  <div class="nav-wrapper grey darken-3">
    <ul class="left">
      <li>
        <%= link_to members_path do %>
            <i class="material-icons left">chevron_left</i>Back
        <% end %>
      </li>
    </ul>
    <a class="brand-logo center"><%= @member.full_name %></a>
    <ul class="right">
      <li>
        <%= link_to edit_member_path(@member) do %>
            <i class="material-icons left">mode_edit</i>Edit
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div align="center">

    <% if @member.status == 1%>
    <h3 class="green">
      Activo
    </h3>
        <% end %>
        <% if @member.status == 0%>
            <h3 class="red darken-4-text">
              Membrecia vencida
            </h3>
    <% end %>


  <div class="field">
  <%= image_tag @member.cover.url(:thumb)%>
</div>
<h5> <%= @member.email %> </h5>
<br>

    <%= link_to 'create_payment/' + @member.id.to_s, class:"btn", data: {confirm: 'Registrar pago?'} do %>
    Registrar pago
    <% end %>


    </div>
  </div>

</div>

