<div class="container">
  <div align="center">
<h1> <%= @member.name %> <%= @member.last_name %> </h1>
    <h1> <%= @member.status %> </h1>
<div class="field">
  <%= image_tag @member.cover.url(:thumb)%>
</div>
<h5> <%= @member.email %> </h5>
    <button type="button" class="btn btn-info btn-lg btn-block" id="btnRegistrarPago" >Registrar pago</button>
    <div id="payment-form", style="display:none;">
      <!--
    <%= form_for @member do |f| %>
        <div class="fiel">
          <#%= f.collection_select :post, :payments, options_for_select(Payment::MEMBERSHIP), :id, Payment::MEMBERSHIP_PRICE, prompt: true%>
          <h2 id="txtPrice"></h2>
        </div>


    <% end %>
    -->
    </div>
  </div>

</div>

